<?xml version="1.0"?>

<model>
  <name>SDU Legs</name>
  <version>1.0</version>
  <sdf version="1.0">urdf/model.sdf</sdf>

  <author>
    <name>Jorge Rodriguez</name>
    <email>jorod14@student.sdu.dk</email>
  </author>

  <description>
    The model of the Running Legs from Southern Denmark University (SDU)
  </description>

  <depend>
  </depend>
</model>
