<launch>

	<!-- these are the arguments you can pass this launch file, for example paused:=true -->
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find legs_gazebo)/worlds/legs.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
		<arg name="physics" default="ode"/>
	</include>

	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"
	 command="xacro --inorder '$(find legs_description)/urdf/legs.xacro'" />

	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model legs -param robot_description"/>

	<!-- ros_control legs launch file -->
	<include file="$(find legs_joint_control)/launch/legs_joint_control.launch"/>

	<!-- rviz controller -->
	<!-- <include file="$(find legs_joint_control)/launch/legs_rviz.launch"/> -->

	<!-- GoRobots controller -->
	<!-- <include file="$(find legs_controllers)/launch/muscle_controller.launch"/>	 -->

</launch>
