<launch>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
   command="xacro --inorder '$(find rubi_description)/urdf/rubi.xacro'" />


  <group ns="rubi">
    <!-- Load the program in RuBi -->
    <node name="actuateMotors" pkg="rubi_bringup" type="actuateMotors_in_RuBi" />

    <!-- Load HW interface -->
    <node name="locokit_hw_node" pkg="locokit_hw" type="locokit_hw_node" output="screen"/>
  </group>
  
  <!-- Load the joint controllers -->
    <include file="$(find rubi_joint_control)/launch/rubi_joint_control.launch"/>


</launch>