<?xml version="1.0"?>

<model>
  <name>RuBi</name>
  <version>1.0</version>
  <sdf version="1.0">urdf/rubi.urdf</sdf>

  <author>
    <name>Jorge Rodriguez</name>
    <email>jorge.rguez.marin@gmail.com</email>
  </author>

  <description>
    The RuBi model from Southern Denmark University (SDU)
  </description>

  <depend>
  </depend>
</model>
